<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
    <link rel="stylesheet" href="\public/stylesheets/common_form.css">
</head>
<body>
<header>
    <div class="header-line"></div>
</header>
<div class="content">
    <img class="content-logo" src="\public/images/form_logo.png" alt="logo">
    <h1 class="content-title">填写信息</h1>
    <div class="content-form">
        <form method="post" action="" onsubmit="return submitTest()">
            <!-- 工号-->
            <div id="change_margin_1">
                <input class="id" type="text" name="id" placeholder="请填写工号" onblur="oBlur_1()" onfocus="oFocus_1()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_1"></p>
            <!-- 姓名-->
            <div id="change_margin_2">
                <input class="user" type="text" name="user" placeholder="请填写姓名" onblur="oBlur_2()" onfocus="oFocus_2()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_2"></p>
            <!-- 部门-->
            <div id="change_margin_3">
                <input class="section" type="text" name="section" placeholder="请填写部门" onblur="oBlur_3()" onfocus="oFocus_3()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_3"></p>
            <!-- 车牌-->
            <div id="change_margin_4">
                <input class="vehicle" type="text" name="vehicle" placeholder="请填写车牌号" onblur="oBlur_4()" onfocus="oFocus_4()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_4"></p>
            <!-- 起始时间-->
            <div id="change_margin_5">
                <input class="starttime" type="text" name="starttime" placeholder="请填写起始时间" onblur="oBlur_5()" onfocus="oFocus_5()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_5"></p>
            <!-- 结束时间-->
            <div id="change_margin_6">
                <input class="endtime" type="text" name="endtime" placeholder="请填写结束时间" onblur="oBlur_6()" onfocus="oFocus_6()">
            </div>
            <!-- input的value为空时弹出提醒 -->
            <p id="remind_6"></p>
            <!-- 提交-->
            <div id="change_margin_7">
                <input class="content-form-signup" type="submit" value="提交">
            </div>
        </form>
    </div>
    <div class="content-login-description">已经填写申请？</div>
    <div><a class="content-login-link" href="log_in">登录查看</a></div>
</div>
<script src="\public/javascripts/common_form_test.js"></script>
</body>
</html>