<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarReservation html test ppage</title>
    <script src="/public/javascripts/jquery-1.6.4.min.js"></script>
    <script>
        function btn() {
            var username=$("#username").val();
            $.ajax({
                type : "POST",
                url:"/AppletService/demoIndex",             //需要链接到服务器地址
                data:{
                    "username":username
                },
                success: function (data, status) {//请求成功后的回调函数有两个参数
                    //var data_json=eval(data);
                    if(data==="0"){
                        location.href="http://baidu.com";
                    }else{
                        alert("失败");
                    }
                }});

        }

        function third() {
            var firstInput=$("#first").val();
            alert(firstInput);
            //location.href="http://baidu.com"

        }

    </script>

</head>

<input id="first" type="text" >
<input id="second" type="button" value="Let's test it" onclick="third()">

<body>

</body>
</html>